apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: solid-queue
        image: fintech-api:latest
        imagePullPolicy: Never
        command: ["bin/jobs"]
        envFrom:
        - configMapRef:
            name: app-config
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres_password"
        - name: DATABASE_HOST
          value: "postgres"
        - name: POSTGRES_DB
          value: "fintech_globaltask_api_production"
